<h1>Welcome!</h1>
<ul>
    <li>This web app is used to login or create an account using Google</li>
    <li>Upon clicking the "Login with Google" button below, you will be re-directed to the Google OAuth 2.0 endpoint</li>
    <li>From here, Google will let you know my application would like your permission to access some of your profile information</li>
    <li>If you grant my application access to some of your profile information, a user account for my app will automatically be created for you</li>
    <li>You will be re-directed back to my web app where your unique user ID and a JSON web token will be displayed</li>
    <li>You can login and generate a new JSON web token at any time by logging back in with Google via the login button below</li>
</ul>
<button id="login" type="button" class="btn btn-primary">Login with Google</button>